<%- include("partials/header") -%>
    <h1>Compose</h1>
    <form action="/" method="post">
        <label for="postTitle">Title</label>
        <input type="text" name="postTitle" id="" class="input-text">
        <br>
        <label for="postContent">Post</label>
        <textarea name="postBody" id="" class="input-text" cols="30" rows="10"></textarea>
        <br>
        <button type="submit" class="btn btn-primary">Public</button>
    </form>
<%- include("partials/footer") -%>
